.git
.gitignore
.dockerignore
.env*
Dockerfile
.fuse_hidden*
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
.build/
NetworkHandler-Documentation.docset/
.env*
